.blogs-container {

  display: flex;

}

.blogs-content-one {
  flex: 1;
}

.blogs-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60vh;
  background-color: rgb(21, 3, 3);
}

.blogs-content h1 {
  color: white;
  font-size: 100px;
}


.blogs-image {
  flex: 1;
  background-image: url('../assets//instra1.jpg');
  /* Takes up two parts of the flex container */
  /* Replace with your image URL */
  background-size: cover;
  /* Cover the entire div */
  background-position: center;
  /* Center the image */
}

.blogs-component-section {
  margin-top: 50px;
  padding: 0 1rem;

}

.blogs-allwrapper {
  display: flex;
  gap: 3rem;
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

.blogs-component-container {
  flex: 2;



}

.blogs-component-display {
  background-color: white;
  box-shadow: 5px 5px 5px rgb(247, 246, 244);
  position: relative;
  margin: 1rem 0;

}

/* .blogs-component{
    background-color: green;
    position: relative;
  }
    */
.blogs-component img {
  width: 100%;
}

.blogs-icons-link {
  display: flex;
  gap: 1rem;
  padding-top: 4px;

}

.blogs-icons1 {
  display: flex;
  align-items: center;
  gap: 4px;

}

.blogs-component-content {
  margin-top: 2rem;
}

.blogs-component-content h1 {
  font-family: Chivo, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  color: rgb(45, 45, 45);
}

.blogs-component-content h1:hover {
  color: red;
  cursor: pointer;
}

.blogs-component-content p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: rgb(103, 94, 94);
}

.blogs-icons-link,
.blogs-icons1 span {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgb(153, 153, 153);
}

.overlay {
  background-color: red;
  position: absolute;
  width: 100px;
  height: 100px;

  bottom: 6rem;
  left: 4rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.overlay p {
  color: white;
  font-family: sans-serif;
  font-size: 19px;
}

.blogs-component2 {
  flex: 1;

}

/* .blogs-component2-container{
  width: 100%;
  } */


.blog-search-button {

  /* width: 100%;  */
  padding: 15px;
  display: flex;
  gap: 1rem;
  background-color: rgb(251, 249, 255);
  align-items: center;

}

.blog-search-button input {
  width: 100%;
  padding: 15px;
  border: 0.5px solid rgb(185, 185, 185);
  background-color: white;
  outline: none;
}

.blog-button button {
  background-color: red;
  padding: 5px 5px;
  color: white;
  border: none;
  cursor: pointer;
}

.bloglist-category {
  background-color: rgb(251, 249, 255);
  /* height: fit-content; */
  padding: 25px;

}

.bloglist-category h1 {

  padding: 10px;
  font-family: Chivo, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(45, 45, 45);
  cursor: pointer;
}

.bloglist-line {
  border: 0.2px solid rgb(245, 243, 243);

}

.bloglist-content {
  padding-top: 20px;
}

.bloglist-content p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: rgb(103, 94, 94);
  padding: 10px;
  border-bottom: 0.2px solid rgb(245, 243, 243);
}

.bloglist-content p:hover {
  color: red;
  cursor: pointer;
}



/* blog2 content styling */
.bloglist-content2-content {
  background-color: rgb(251, 249, 255);
  margin-top: 70px;
}

.bloglist-content2-content h1 {
  padding: 5px;
  font-size: 19px;
}

.blogs-para:hover {
  color: red;
  cursor: pointer;
}

.blogs-feeds {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 7px;
  /* padding: 10px; */
}

.blogs-para {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(0, 0, 0);
}

.blogs-date {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(128, 128, 128);
}

.bloglist-content2-content-insta-feed {
  margin-top: 1rem;

}

.bloglist-content2-content-insta-feed12 h1 {
  font-family: Chivo, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(45, 45, 45);
  padding: 5px;
}

.bloglist-content2-insta-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

}

.blogs-feeds-insta-feed img {
  width: 100%;
}



.newsletter {
  padding: 5px;
  background-color: rgb(251, 249, 255);
  margin-top: 1rem;

}

.bloglist-content2-content-insta-feed h1 {
  font-family: Chivo, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(45, 45, 45);
}

.newsletter input {
  width: 100%;
  padding: 10px;
  border: 0.5px solid rgb(185, 185, 185);
  background-color: white;
  outline: none;
}

.newsletter-button button {
  width: 100%;
  border: 1px solid red;
  margin-top: 10px;
  padding: 10px 10px;
  color: red;
}




@media screen and (max-width:820px) {
  .blogs-allwrapper {
    display: flex;
    flex-direction: column;
  }

  .overlay {
    background-color: red;
    position: absolute;
    width: 70px;
    height: 70px;

    bottom: 8rem;
    left: 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .blogs-component-content h1 {
    font-family: Chivo, sans-serif;
    font-size: 20px;

    font-weight: 600;
    line-height: 28.8px;
    color: rgb(45, 45, 45);
  }

  .blogs-component-content p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(103, 94, 94);
  }

  .blogs-icons-link {
    margin-top: 10px;
    font-size: 30px;
  }
}
@media screen and (max-width:432px) {
  .blogs-allwrapper {
    display: flex;
    flex-direction: column;
  }

  .overlay {
    
    background-color: red;
    position: absolute;
    width: 60px;
    height: 60px;

   top: 7rem;
    left: 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .blogs-icons1 {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 15px;
  
  }

  .blogs-component-content h1 {
    font-family: Chivo, sans-serif;
    font-size: 14px;

    font-weight: 600;
    line-height: 1.5;
    color: rgb(45, 45, 45);
  }

  .blogs-component-content p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(103, 94, 94);
  }

  .blogs-container {
    display: flex;
    flex-direction: column;
  }
.bloglist-content p{

  font-size: 15px;
}
  .blogs-image {
    display: none;
  }

  /* second section styles */
  .bloglist-content2-content {
    background-color: rgb(251, 249, 255);
    margin-top: 70px;
  }
  
  .bloglist-content2-content h1 {
    padding: 5px;
    font-size: 19px;
  }
  
  .blogs-para:hover {
    color: red;
    cursor: pointer;
  }
  
  .blogs-feeds {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 7px;
    /* padding: 10px; */
  }
  
  .blogs-para {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    color: rgb(0, 0, 0);
  }
  
  .blogs-date {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    color: rgb(128, 128, 128);
  }
  
  .bloglist-content2-content-insta-feed {
    margin-top: 1rem;
  
  }
  
  .bloglist-content2-content-insta-feed12 h1 {
    font-family: Chivo, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: rgb(45, 45, 45);
    padding: 5px;
  }
  
  .bloglist-content2-insta-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  
  }
  
  .blogs-feeds-insta-feed img {
    width: 100%;
  }
  
  
  
  .newsletter {
    padding: 5px;
    background-color: rgb(251, 249, 255);
    margin-top: 1rem;
  
  }
  
  .bloglist-content2-content-insta-feed h1 {
    font-family: Chivo, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(45, 45, 45);
  }
  
  .newsletter input {
    width: 100%;
    padding: 10px;
    border: 0.5px solid rgb(185, 185, 185);
    background-color: white;
    outline: none;
  }
  
  .newsletter-button button {
    width: 100%;
    border: 1px solid red;
    margin-top: 10px;
    padding: 10px 10px;
    color: red;
  }
}